*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Lora', serif;

  --fw-1: 400;
  --fw-2: 500;
  --fw-3: 600;
  --fw-4: 700;

  --clr-grey-1: #f4f4f4;
  --clr-grey-2: #757575;
  --clr-grey-3: #2d2d2d;
  --clr-grey-4: #1f1f1f;
  --clr-purple: #a445ed;
  --clr-dark: #050505;
  
  --clr-bg: white;
  --clr-text-1: var(--clr-grey-3);
  --clr-text-2: var(--clr-grey-2);
  --clr-text-3: var(--clr-purple);
  --clr-bg-btn: var(--clr-grey-2);
  --clr-search-bar: var(--clr-grey-1);
  --clr-seperator: var(--clr-grey-3);

  --bs-search-bar: none;

  --outline-search-bar: 2px solid var(--clr-purple);
}

:root.dark{
  --clr-bg: #000000;
  --clr-text-1: white;
  --clr-text-2: var(--clr-grey-2);
  --clr-text-3: var(--clr-purple);
  --clr-bg-btn: var(--clr-purple);
  --clr-search-bar: var(--clr-grey-4);
  --clr-seperator: var(--clr-dark);
  --bs-search-bar: 0 10px 10px var(--clr-purple);
}

/* General Styles */
body{
  margin: 0;
  font-family: var(--ff-primary);
  padding-inline: 2em;
  background-color: var(--clr-bg);
  font-size: 1.15em;
  transition: background-color 200ms linear;
}

input,
button,
a{
  font: inherit;
  display: block;
  color: inherit;
}

input,
button{
  border: none;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

ul{
  padding-left: 1.25em;
}

li::marker{
  color: var(--clr-purple);
}

/* Class Styles */

/* App */
.App{
  max-width: 800px;
  margin-inline: auto;
}

/* Header */
.header{
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.header-icon{
  margin-right: auto;
}

.header-icon > img{
  transform: scale(0.85);
}

.font-selector{
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin-right: 1em;
}

.font-selector-text{
  font-weight: var(--fw-3);
  font-size: 0.9rem;
  color: var(--clr-text-1);
}

.toggle-theme{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.toggle-theme-btn{
  width: 40px;
  height: 25px;
  background-color: var(--clr-bg-btn);
  border-radius: 0.75rem;
  padding: 0.1em 0.15em;
  position: relative;
  cursor: pointer;
}

.toggle-theme-circle{
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  height: 17.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  transition: left 100ms linear;
}

.toggled.toggle-theme-circle{
  left: calc(40px - 17.5px - 8%);
}

/* Search Bar */
.search{
  border-radius: 1rem;
  padding: 0 1.75em;
  margin-bottom: 2.5em;

  display: flex;
  align-items: center;
  gap: 1em;
  
  background-color: var(--clr-search-bar);

}

.search-input{
  flex-grow: 1;
  background-color: transparent;
  padding: 0.75em 0;
  font-weight: var(--fw-2);
  font-size: 1.25rem;
  color: var(--clr-text-1);
}

.search-input:focus{
  outline: none;
}

.search:has(.search-input:focus){
  outline: var(--outline-search-bar);
}

.search-input::placeholder{
  font-weight: var(--fw-2);
}

.search-btn{
  background: transparent;
}

.search-btn:hover{
  opacity: 0.5;
  cursor: pointer;
}

/* Word Details Header */
.word-details-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word-heading{
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: var(--clr-text-1);
}

.word-phonetic{
  margin: 0;
  color: var(--clr-purple);
  font-size: 1.5rem;
}

.voice-play-btn{
  background: transparent;
  cursor: pointer;
}

.voice-play-btn:hover{
  opacity: 0.8;
}

/* Meaning Section */
.word-meaning{
  margin-bottom: 2em;
}

.part-of-speech{
  font-style: italic;
  margin: 0;
}

.meaning-seperator{
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--clr-text-1);
  margin-top: 3em;
}

.seperator-line{
  height: 2px;
  flex-grow: 1;
  opacity: 0.1;
  background: var(--clr-seperator);
}

.definition-title,
.synonyms-title,
.antonyms-title{
  color: var(--clr-text-2);
  font-weight: var(--fw-2);
  margin: 0;
}

.definition{
  color: var(--clr-text-1);
  margin-bottom: 1em;
}

.definition-content{
  margin-bottom: 0.5em;
  color: var(--clr-text-1);
}

.definition-example{
  color: var(--clr-text-2);
}

.synonyms,
.antonyms{
  display: flex;
  align-items: top;
  gap: 1em;
}

.meaning-seperator,
.synonyms,
.anthonyms,
.defintions{
  margin-bottom: 1.5em;
}

.synonym-list,
.antonym-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.synonym,
.antonym{
  font-weight: var(--fw-3);
  color: var(--clr-text-3);
  font-size: 1.1em;
}